* {
  box-sizing: border-box;
}

@font-face {
  font-family: starterFont;
  src: url('fonts/Fruktur-Regular.woff') format('woff');
}

body {
  background-image: linear-gradient(to Ttop, rgb(117, 132, 132), white);
  /*height: 100vh;*/
  /*border: 5px dashed violet;*/

}
/*This makes the font to apply to the entire website*/
head body{
  font-family: starterFont;
}

.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

nav {
  position:fixed; /* Position of nav becomes fixed*/
  top: 0%;
  width: 100%; /*Nav is width as the webpage*/
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none; 
}

.card {
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px 0;
  padding: 50px;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

h1{
  font-size: 35px;
  margin-top: 1rem;
}

h2{
  font-size: 25px;
  margin-top: -1.5rem;
  margin-bottom: 1 rem;
}

img{
  height: 40px;
  width: 40px;
}

.card ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

.card li{
  display: inline;
  margin: 5px;
}

footer {
  /*border: 5px solid red;*/
}

/*borders

border: 5px dotted pink;
border: 5px double green;
border: 5px solid blue;

*/
